/* Your styles here */
/* le macrosezioni*/
header{
    background-color: black;
    text-align: center;
    margin: 0 auto;
}
main{
    text-align: center;
    margin: 0 auto;
}
side{
    text-align: center;
    margin: 0 auto;
}
footer{
    text-align: center;
    margin: 0auto;
    background-color: cadetblue;
    color:white;
}
/*micro sezioni*/
.div1{
    background-image: url(../images/banner.jpg);
    height: 275px;
}
.div3{
    background-color: orangered;
    color:white;
}
.div4{
    border-bottom-color: fffffff;
    border-width: 5px;
    padding: 30px;
}
.div5{
    padding: 30px;
    padding-top: 20px;
    border-top: #ffffff;
    border-width: 10px;
}
/*elementi*/
a:hover, a:active, a:visited, a:link {
        text-decoration: none;
        color: #ffffff;
}
.img{
    width: 80%;
    margin: 0 auto;
}
.logo{
    width: 30%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 30px;
}


h1{
    font-family:"open+sans";
    font-style: bold;
    color: #25a2c3;
    font-size: 60px;
    margin: 1rem;
}
h2{
    font-family: "open+sans";
    font-style: bold;
    color: #25a2c3;
    font-size: 24px;
}
.pr{
    font-family: "montserrat";
    font-size: 16px;
    margin: 1rem;
}
.bottone{
    margin: 0px;
    margin-top: 60px;
    background-color: orangered;
    color:white;
    padding:10px;
    padding-top: 10px;
}
.note{
    border-radius: 100%;
}
.tit3{
    font-family:"open+sans";
    font-style: bold;
    font-size: 32px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}
.pr2{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;

}
.pr3{
    padding-bottom: 20px;
}
.side{
    margin-top: 40px;
    margin-bottom: 20px;
}
.h2a{
    margin-top: 10px;
}
.tit4{
    font-family:"open+sans";
    font-style: bold;
    font-size: 64px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.svg{
    background-color: white;
    width:20px;
    height:20px;
}
.pr1{
    border-bottom: 80px;
}
/* tag usati
header
main
side
footer
h1
h2
side
*/

/* clasi usate
div1
div3
div4
div5
img
logo
pr
bottone
note
tit3
pr2
pr3
h2a
tit4
svg
*/